# Ignore bundler config.
/.bundle

# Node Modules
/node_modules
.sass-cache/

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/public/assets/
/public/system/

# Ignore env file
.env

**DS_Store
.byebug_history
