# Ignore bundler config.
/.bundle

# Node Modules
/node_modules

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/public/assets/
/public/system/

# Ignore env file
.env
google_key.json

**DS_Store
.byebug_history
