%h2 Hey #{@user.first_name}!

%p #{@promoter} has made you an admin! That means you can edit any voter guide, template, ban users, approve guides, etc.

%p Don't screw it up!

%p
  %em - Your Friends at the Alliance

- content_for :preview do
  Holly smokes you're an admin!
