.mui-row
  .mui-col-md-10.mui-col-md-offset-2{ style: 'margin-top: 30px' }
    = react_component :ContestForm, contest: contest.full_json, url: contest.new_record? ? guide_contests_path(guide) : guide_contest_path(guide, contest), languages: guide.languages, expropriatable: { path: expropriate_guide_contests_path(@guide), guides: my_guides(@guide) }
