.mui-row
  .mui-col-md-2 &nbsp;
  .mui-col-md-10{ style: 'margin-top: 30px' }
    = react_component :ContestForm, contest: contest, url: contest.new_record? ? guide_contests_path(guide) : guide_contest_path(guide, contest)
