.mui-row
  .mui-col-md-12
    %h2 Your Contests
    - @guide.contests.each do |contest|
      = contest.title
      = button_link_to contest.title, edit_guide_contest_path(@guide, contest)

  .mui-row
  .mui-col-md-12
    = button_link_to 'New Contest', new_guide_contest_path(@guide)
