= render layout: 'guides/breadcrumb' do
  = link_to 'Ballot Measures', guide_measures_path(@guide)

.mui-row
  .mui-col-md-10.mui-col-md-offset-2
    %h2 Create Contest
= render 'form', guide: @guide, contest: @contest
