= render layout: 'guides/breadcrumb' do
  = link_to 'Contests', guide_contests_path(@guide)

.mui-row
  .mui-col-md-10.mui-col-md-offset-2.mui-col-lg-11.mui-col-lg-offset-1
    %h2 Create Contest
= render 'form', guide: @guide, contest: @contest
