.mui-row
  .mui-col-md-3
  .mui-col-md-6
    %h2 Invite Your Friends
    %p
      Invite folks to Voter Guide
      = image_tag 'robot.png', width: 16, style: 'vertical-align: middle'
      they will need a Google account.
    = react_component :InviteForm
