@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css)
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic,600)
@import 'mui'
@import 'lib/mixins'

$lightblue: #319ad5
$blue: #1470be
$orange: #e34116
$red: #ca2127
$gray: #777
$darkgray: #3c3c3c
$lightgray: #e8ecef

*
  box-sizing: border-box
  font-family: 'Open Sans', sans-serif

body
  &.about #header.mui-appbar .links a.about-link
    color: $orange
  min-width: 280px

.mui-container
  max-width: 920px

a
  cursor: pointer

h2
  font-weight: 500
  color: $darkgray

#header
  background: $blue
  .mui-appbar
    background: $blue
    padding: 0
    td
      vertical-align: top
    .links
      a
        &, &:hover, &:active
          text-decoration: none

      #open_menu_overlay
        font-size: 30px
        color: white
        &:hover
          background-color: transparent
        margin: 10px 10px 0 0

      text-align: right

      #menu_overlay
        top: -20px
        left: 0px
        right: 0px
        height: 0px
        overflow: hidden
        position: absolute
        padding-top: 30px
        transition: height 750ms ease
        background: $blue
        z-index: 10
        text-align: center
        a
          display: block
          margin: 30px 0
          float: none
          font-size: 30px
          color: white
          text-transform: uppercase
          font-weight: 600
          &:hover, &:active
            background: $lightblue

        .menu
          display: inline
          &.active, &:hover
            a
              @include md
                background: $lightblue
            ul
              display: block
          ul
            display: none
            list-style: none
            padding: 0
            li
              font-size: 14px
              text-align: center
              a
                font-size: 16px
                font-weight: normal

        @include md
          overflow: visible
          text-align: right
          position: relative
          display: inline-block
          .home-link
            display: none

          a
            font-size: 14px
            &, &:hover, &:active
              padding: 10px 16px
              display: block
              float: left

          .menu
            &:hover
              ul
                display: block
                a
                  background: $lightblue
            ul
              position: absolute
              width: 420px
              margin: 70px 0 0 -52px
              display: none
              background: $lightblue
              z-index: 10
              padding: 20px 30px
              column-count: 3
              li
                float: left
                width: 120px
                z-index: 10
                position: relative
                font-size: 90%
                a
                  font-size: 11px
                  text-align: left
                  &, &:hover, &:active
                    padding: 2px
                    margin: 0
                  &:hover
                    color: $blue

    img
      width: 100%
      max-width: 50%
      min-width: 180px
      @include md
        max-width: 300px
  .header
    color: white
    width: 100%
    height: 250px
    position: relative
    padding-top: 150px
    .titles
      z-index: 1
      color: white
      position: relative
    .bg
      position: absolute
      z-index: 0
      top: 0
      bottom: 0
      right: 0
      left: 0
      opacity: 0.4
      background-position: center left
      background-repeat: no-repeat
      background-size: cover
    .page--title
      z-index: 1
      position: relative
    .sharing a
      color: white
      font-size: 16px
      margin: 0 4px
      &, &:hover
        text-decoration: none
      &:hover
        color: $orange

#content
  position: relative
  .mui-container
    margin-top: 40px
    margin-bottom: 40px

#footer
  background: $darkgray
  @include md
    height: 200px
  bottom: 0
  hr
    border: none
    background: $gray
  i
    color: $lightblue
  h5, a, p
    color: white
  a, h5
    font-weight: 600
  a
    display: block
    &:hover
      color: $lightblue
      text-decoration: none
    margin: 10px 0
  .social a
    display: inline

.mui-row .embed
  margin-left: -15px
  margin-right: -15px
  @include sm
    margin-left: 0
    margin-right: 0
.embed
  .anchor
    margin-top: -2em
    position: absolute
  .vitals
    position: relative
    z-index: 1
    h2
      font-weight: bold
  .inner
    background: #e8ecef
    position: relative
    padding: 78px 0 0
    margin: 20px 0
    max-width: 600px
    .footer
      z-index: 1
    .candidate
      position: relative
      z-index: 1
      padding:  0
      margin: 10px 0 0
      border-bottom: 2px solid white
      min-width: 280px
      @include clear
      ul
        margin: 0 0 0 1.5em
        padding: 0
      .inner
        width: 100%
        position: relative
        box-sizing: border-box
        padding: 0 10px
        @include clear
      .info
        float: left
        width: 90px
        .box
          background: $lightblue
          color: white
          font-size: 9px
          line-height: 7px
          padding: 4px
          strong
            font-weight: 600
            font-size: 11px
          p
            margin-bottom: 6px
          a
            i
              color: white
        .photo
          height: 70px
          width: 90px
          background-size: cover
          background-position: center center
          background-repeat: no-repeat
      .facts
        width: 100%
        padding: 0 0 0 100px
        font-size: 12px
        color: $darkgray
        text-align: left
        .bio
          min-height: 180px
          @include sm
            min-height: auto
          padding-bottom: 10px
        .fact
          height: 30px
          .share
            position: absolute
            bottom: 10px
            right: 10px

    .left,
    .right
      top: 28px
      position: absolute
      height: 44px

    .left,
    .right
      background: $orange
      color: white
      padding:  0px 13px
      font-size: 30px
      font-weight: bold
      cursor: pointer
    .left
      left: 0
    .right
      right: 0

    .titles
      margin: -50px 12% 10px
      text-align: center
      color: white
      background: $darkgray
      font-size: 20px
      padding: 8px
      .pre
        left: 0
        right: 0
        border-bottom: 1px solid #9e9e9e
        margin-bottom: 8px
        padding-bottom: 8px
        text-transform: uppercase
        font-size: 14px
        font-weight: bold

    .title,
    .fact
      display: none
      &.active
        display: block
      h1
        font-weight: bold
        color: $darkgray

    .tools,
    .share
      a
        &:hover
          text-decoration: none
          color: $orange
        color: $gray
    .share
      a
        margin: 0 2px
  .footer
    text-align: center
    padding: 10px 0
    position: relative
    .share-box
      display: inline-block
      a
        margin: 0 4px
        text-decoration: none
    .code-box
      display: none
      text-align: center
      font-size: 12px
      width: 84%
      margin: 10px auto
      color: $darkgray
      textarea
        border: none
        font-family: monospace
        font-size: 8px
        line-height: 10px
        padding: 4px
        resize: none
        outline: none
        display: block
        width: 100%
        height: 40px

    .tools
      position: absolute
      right: 20px
      top: 10px
    .nav a
      margin: 0 2px
      color: $gray
      width: 12px
      height: 12px
      border-radius: 12px
      display: inline-block
      background: transparent
      border: 2px solid $gray
      cursor: pointer !important
      &.active, &:hover
        background: $lightblue
        border-color: $lightblue
        text-decoration: none

  &.code-open
    .share-box
      display: none
    .code-box
      display: block
    .tools
      .fa-share
        display: none
      .fa-code
        bottom: 0px
        color: $orange

#statebox
  h3
    font-weight: bold
    @include md
      text-align: left
    text-align: center
  img
    margin: 0 auto
  .mui-select
    max-width: 500px
    margin: 0 auto
    background: $orange
    select, i, span
      color: white
      font-weight: bold
    select
      background-image: none
      width: 100%
      border-bottom: none
      height: 40px
      font-size: 0
    i, span
      position: absolute
      pointer-events: none
    span
      top: 20px
      left: 10%
    i
      top: 26px
      right: 10%

.ballot_measure
  border-top: 1px solid $lightgray
  i
    margin-top: 10px
    font-size: 30px
    color: white
    border-radius: 40px
    height: 40px
    width: 40px
    padding: 6px
    @include sm
      margin-left: -20px
    &.for
      background-color: $blue
    &.against
      background-color: $red
  ul
    margin-left: 0px
    padding-left: 1.5em

.icons
  .mui-col-md-4
    text-align: center
    padding: 10px
    img
      height: 80px
    a h4
      color: $darkgray
      font-weight: bold

body.front
  #content
    background-color: $lightgray
    .mui-container
      margin-top: 0
      margin-bottom: 0
      padding-top: 480px
      .state_holder
        display: none
        @include md
          display: block
          position: absolute
          left: 0
          right: 0
          background-color: white
          height: 360px
          z-index: 0
      #statebox
        background-color: white
        padding: 30px 0
        @include md
          position: relative
          z-index: 1
          height: 360px
          background-color: transparent

  #header .header
    height: 240px
    @include md
      height: 172px
    .bg
      margin-top: 150px
      opacity: 1
      img
        position: absolute
        max-width: 30%
        margin-left: 0
        bottom: 0px
        &.left
          left: 0
        &.right
          right: 0

  #main_title
    position: relative
    z-index: 1
    text-align: center
    width: 80%
    margin: -120px auto 0
    min-height: 172px
    @include md
      width: 60%
      margin: -170px auto 92px
      min-height: auto
    h1
      color: white
      font-size: 22px
      line-height: 24px
      @include md
        font-size: 32px
        line-height: 35px
      font-weight: bold

  #header .contest.embed
    text-align: center
    display: block
    margin-left: auto
    margin-right: auto
    h1
      font-size: 20px
      @include md
        font-size: 34px

    .vitals
      display: none
    .inner
      padding-top: 48px
      text-align: left
      .candidate
        margin: 0
        .inner
          padding-top: 0
          @include clear
          .facts
            height: auto
          .info
            .photo
              height: 120px
            .box
              @include clear
              .links a
                margin: 0 2px
                padding: 0
      .header
        padding-top: 0
        height: auto
        .left, .right
          z-index: 1
          top: 0px
        .left
          left: -10px
        .right
          right: -10px
        .pre
          top: -1.25em
          color: white
          font-size: 14px
          font-weight: normal
      @include md
        background: transparent
        padding-top: 0
        margin-top: 0
        max-width: none
        text-align: center
        .header
          margin-top: 0
          padding-top: 0
          height: auto
          width: 100%
          .left, .right
            position: absolute
            top: 100px
            z-index: 1
        .candidate
          text-align: left
          display: inline-block
          width: 160px
          min-width: 0
          margin: 0
          vertical-align: top
          border-bottom: 0
          ul
            padding-left: 0
            margin-left: 1.5em
            font-size: 10px
          .party
            float: left
          .links
            float: right
            margin: 0
            a
              &:hover
                color: $blue
          .info
            float: none
            width: 100%
            background: $darkgray
            .box
              background: transparent
              .name
                background: transparentize($lightblue, 0.2)
                display: block
                padding: 4px 6px
                margin: -10px 0 4px -10px
                &:after
                  content: ''
                  position: absolute
                  margin-top: 12px
                  border-bottom: 6px solid transparent
                  border-right: 6px solid transparentize($lightblue, 0.2)
                  left: 4px
            .photo
              width: 100%
          .facts
            padding-left: 0
            height: auto
            font-size: 10px
            color: $darkgray
            background: white
            padding: 6px 4px
            .bio
              min-height: 150px
    &.code-open
      .code-box
        @include md
          width: 60%
          width: 60%
          margin: -30px auto -31px
          z-index: 2
          position: relative
          background: white
          textarea
            border: 1px solid $lightgray

body.menu-overlay #header .mui-appbar .links #menu_overlay
  display: block
  top: 0px
  height: auto
  min-height: 100%
  #close_menu_overlay
    color: $red
    position: absolute
    top: -20px
    right: 20px

body
  &.pollingplace
    #header .header .bg
      background-position: 0 -120px

.subnav
  @include md
    position: relative
    margin: 0
    background: white
    ul
      padding: 0
      li
        font-size: 18px
        margin: 8px 0

  margin: -40px 0 0 -15px
  padding: 15px
  background-color: $lightgray
  ul
    padding: 10px 0 0 15px
    margin: 0
    list-style: none
    text-align: left
    li
      font-size: 22px
      font-weight: bold
      display: block
      ul
        padding: 0
        li
          font-size: 75%
          font-weight: normal
