@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic,600)
@import './lib/normalize'

$width: 1200px
$height: 630px

html
  height: 100%
  width: 100%

body, *
  box-sizing: border-box
  font-family: Open Sans, sans-serif

$lightblue: #319ad5
$blue: #1470be
$orange: #e34116
$red: #ca2127
$gray: #777
$darkgray: #3c3c3c
$lightgray: #e8ecef

.preview
  background-color: #999

.preview .container
  margin: 30px
  box-shadow: #333 -1px 1px 3px

.container
  height: $height
  width: $width
  overflow: hidden
  background: white
  border: none
  position: relative

.contest--info
  h2
    color: $orange
    text-transform: uppercase
    text-align: center
    padding: 10px
    background: $lightgray
    letter-spacing: 1.5px
    margin: 0
  h1
    margin-bottom: 0
  h3
    margin-top: 0
  .candidate .photo
    height: 120px
    width: 120px
  &.candidates--2 .candidate
    width: 490px
    margin-right: 100px
  &.candidates--3 .candidate
    width: 350px
    margin-right: 40px
  &.candidates--4 .candidate
    width: 264px
    margin-left: 18px
  .bio
    min-height: 82px

.contest--question
  &.candidates--2 .candidate
    width: 490px
    margin-left: 50px
    margin-right: 50px
  &.candidates--3 .candidate
    width: 350px
    margin-left: 20px
    margin-right: 20px
  &.candidates--4 .candidate
    width: 264px
    margin-left: 9px
    margin-right: 9px

  h3
    background: $lightblue
    padding: 10px
    color: white
    font-size: 40px
    font-weight: normal
    text-align: center
    margin: 0
    &.long
      font-size: 28px

  .candidate
    margin-left: 20px
    .photo
      height: 264px
      width: 264px
    h2
      background: transparentize($lightblue, 0.05)
      color: white
      margin: -30px 0 0 -14px
      padding: 10px 80% 10px 24px
      font-size: 26px
      font-weight: 800
      &:before
        border-top: 14px solid transparent
        border-right: 14px solid $blue
        content: ""
        position: absolute
        width: 13px
        height: 0px
        margin: -24px 0 0 -37px
    h3
      color: #333
      font-weight: bold
      font-style: italic
      background: none
      font-size: 16px
      text-align: left
      padding-left: 0
      text-transform: uppercase
      margin: 0
    h1
      color: $lightblue
      margin-top: -10px
      font-size: 50px
      text-align: left

.candidate
  padding: 0 20px
  display: inline-block
  vertical-align: top
  .bubble
    border-radius: 0px 0px 50px 0px
    background: $lightblue
    margin-left: -20px
    padding-left: 20px
    h1
      color: white
      width: 30%
      font-size: 28px
      line-height: 31px
      padding-bottom: 10px
      font-weight: 800
  .photo
    background-size: cover
    background-position: center center
    background-repeat: no-repeat

  h3
    font-style: italic
    color: $orange
  p, li
    color: #777
    font-size: 20px
  ul
    margin-top: -1em
    padding-left: 1.5em
h2.ask
  color: white
  font-weight: 800
  border-radius: 0px 0px 50px 0px
  font-size: 25px
  background: $orange
  width: 320px
  margin-left: 60px
  margin-bottom: 0px
  padding: 10px 20px
  text-transform: uppercase
  position: relative
  &:before
    content: ''
    border-bottom: 30px solid transparent
    border-left: 30px solid $orange
    position: absolute
    bottom: -20px
    left: 0

.candidate--question
  .container
    padding-top: 60px
  h2.ask
    margin-left: 420px
    padding-left: 20px
    padding: 20px
    margin-bottom: -38px
    font-size: 28px
    text-indent: 10px
  .candidate
    background: $lightblue
    width: 100%
    margin-top: 38px
    height: 282px
    padding-left: 60px
    h1
      float: left
      text-indent: 400px
      margin-top: -40px
      font-weight: 800
      font-size: 70px
      color: $lightblue
    h3
      color: #333
      font-weight: bold
      font-style: italic
      margin: 0
    h2
      color: white
      background: $blue
      margin: -30px 0 0 -20px
      padding-left: 20px
      width: 360px
      font-size: 38px
      position: relative
      &:before
        border-top: 20px solid transparent
        border-right: 20px solid darken($blue, 5)
        content: ""
        position: absolute
        width: 13px
        height: 0px
        top: -20px
        left: -13px
    .photo
      width: 360px
      height: 360px
      margin-top: -78px
    .question
      float: left
      width: 700px
      color: white
      margin-left: 390px
      font-size: 48px
      &.long
        font-size: 36px
      padding: 50px 10px 10px 0
      vertical-align: baseline
      font-weight: normal

.candidate--info
  .inner
    padding-left: 450px
    p, li
      font-size: 34px
      color: #777
      margin-top: 0
    ul
      padding-left: 2em
      margin-top: 0
    h3
      color: $orange
      text-transform: uppercase
      font-weight: 800
      padding-bottom: 0.25em
      margin-bottom: 0
  .top
    background: $lightgray
    height: 200px
    padding-top: 30px
    h1
      background: $lightblue
      color: white
      float: right
      padding: 20px
      width: 600px
      margin-top: 40px
      font-size: 65px
      font-weight: 800
      border-radius: 0px 0px 50px 0px
      font-style: normal
      position: relative
      &:before
        border-bottom: 50px solid transparent
        border-right: 50px solid $lightblue
        content: ""
        position: absolute
        width: 13px
        height: 0px
        top: 0
        left: -50px
    .candidate .photo
      height: 360px
      float: left
      width: 360px
      margin-left: 40px
      margin-top: 40px

.measure--info
  .lower
    padding: 20px
    h3
      color: $blue
      font-size: 26px
      text-transform: uppercase
      padding: 0
      margin: 10px 0 0.5em
    p
      font-size: 26px
      line-height: 34px
      color: #777
      margin: 0
      padding: 0
    .half
      width: 45%
      margin-left: 2%
      display: inline-block
      vertical-align: top
  .upper
    background: $lightgray
    padding-bottom: 20px
    img
      float: right
      width: 360px
      margin-right: 30px
    h3
      color: $blue
      padding: 20px
  .top
    padding: 20px
    background: $orange
    width: 800px
    border-radius: 0px 0px 50px 0px
    h2, h5
      color: white
      margin: 0
    h2
      font-size: 30px
      font-weight: 800
    h5
      font-size: 20px
.state
  .cover
    background: rgba(7.8%, 43.9%, 74.5%, 0.8)
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 0
  .logo
    z-index: 1
    position: relative
    background: $lightgray
    margin-top: 30px
    img
      width: 500px
      margin-left: 50px
    border-radius: 0px 0px 50px 0px
    width: 550px
  h1, h2
    position: relative
    z-index: 1
    color: $lightgray
    font-weight: 700
    margin: 0
    padding-left: 60px
  h1
    padding-top: 100px
    font-size: 124px
    margin-bottom: 20px
  h2
    font-size: 45px
    font-style: italic

