- content_for :header do
  .header
    .bg{ style: "background-image: url(https://s3-us-west-2.amazonaws.com/voterguides/states/about.jpg)" }
    .mui-container.page--title
      .mui-row
        .mui-col-xs-12
          %h1
            About
        .mui-col-xs-4
          %i.fa.fa-facebook
          %i.fa.fa-twitter
          %i.fa.fa-tumblr
          %i.fa.fa-envelope

- content_for :body_class do
  about

- content_for :title do
  About

.mui-row
  .mui-col-xs-12
    %p Study after study shows tens of millions of Americans – especially the Millennial Generation – care deeply about making change on their issues but may not vote because 1) they don’t see the difference between the candidates & 2) they can’t get easily digestible, trustworthy information. Have no fear. The American Voter Guide is here - a simple, user-friendly, independent guide with simple "Yes" or "No" answers from candidates on young people's biggest issues.

    %p
      %href{ href: '/ '} AmericanVoterGuide.org
      is a nonpartisan site designed to give young voters the tools they need to cast a confident and informed vote in this year’s elections. The American Voter Guide provides users with information on where to vote, how to vote, when to vote, the responsibilities of each elected office, and where candidates stand on key issues.

= render 'templates/avg/state_box', preview: preview
