- content_for :header do
  .header
    .bg{ style: "background-image: url(https://s3-us-west-2.amazonaws.com/voterguides/states/partners.jpg)" }
    .mui-container.page--tile
      .mui-row
        .mui-col-xs-12
          %h1
            Partner with Us
        #sharing.mui-col-xs-4.sharing
        :javascript
          sharingWidget(sharing)

- content_for :body_class do
  partner

- content_for :title do
  Partner with Us

- content_for :title do
  About

- content_for :url do
  /partner

- content_for :meta_description do
  AmericanVoterGuide.org and the entire American Voter Guide program is successful thanks to all of the partners who distribute guides in the field, create and share digital versions of local guides, and provide policy questions for candidates. Thank you to all of our incredible partners.

- content_for :meta_image do
  https://s3-us-west-2.amazonaws.com/voterguides/states/partners.jpg

.mui-row
  .mui-col-xs-12
    %h2 Partners
    %p AmericanVoterGuide.org and the entire American Voter Guide program is successful thanks to all of the partners who distribute guides in the field, create and share digital versions of local guides, and provide policy questions for candidates. Thank you to all of our incredible partners.
    %h2 Partner with Us
    %p
      Want to get involved?
      = link_to 'Sign up to partner with us', 'https://docs.google.com/forms/d/e/1FAIpQLSfggcSSBh6daNwQEl07F4IbphDzCfi0vJ2U7fr1nPwSyFEjZw/viewform'
      \.

= render 'templates/avg/state_box', preview: preview

