- content_for :header do
  .header
    .bg{ style: "background-image: url(https://s3-us-west-2.amazonaws.com/voterguides/states/register.jpg)" }
    .mui-container.page--title
      .mui-row
        .mui-col-xs-12
          %h1
            Register to Vote
        #sharing.mui-col-xs-4
        :javascript
          sharingWidget(sharing)


- content_for :body_class do
  register

- content_for :title do
  Register to Vote

- content_for :url do
  /register

- content_for :meta_description do
  Take 2 minutes to make sure you are registered to vote for the 2016 elections!

- content_for :meta_image do
  https://s3-us-west-2.amazonaws.com/voterguides/states/register.jpg

.mui-row
  .mui-col-xs-12
    %p Take 2 minutes to make sure you are registered to vote for the 2016 elections!
    %iframe{ src: 'https://register.vote.org/?partner=915150&campaign=americanvoterguide.org', scrolling:"no", style:"margin: 30px auto; width: 80%; display: block; border: none;" }

= render 'templates/avg/state_box', preview: preview

= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js'
:javascript
  iFrameResize({ log:false, checkOrigin:false})
