= render 'guides/breadcrumb'

.mui-row
  .mui-col-md-10.mui-col-md-offset-2{ style: 'margin-top: 30px' }
    = react_component :FieldsForm, { url: guide_path(@guide), fields: @guide.template_fields }
