
name: Default Voter Guide

screenshot: default.png
view: guide

available_pages: 10
filler_pages: 4

publisher_class: PDF
publisher_resource: voter-guide.pdf
publisher_type: pdf

render_options:
  height: 4.25in
  width: 6.25in
  margin: 0.125in

contests:
  partial: contest_large

  title:
    limit: 100
  description:
    limit: 75

  per_page:
    key: contest_layout
    values:
      contest_large: 2
      contest_small: 1

candidates:
  max: 4
  name:
    limit: 50
  party:
    limit: 25
  bio:
    limit: 75
  supporters:
    limit: 35
    max: 3

measures:
  per_page: 1
  title:
    limit: 60
  description:
    limit: 105
  argument:
    limit: 170
  endorsements:
    limit: 35
    max: 3

questions:
  max: 7
  text:
    limit: 140

fields:
  -
    label: Title Page - Header
    placeholder: The title that will appear on the front page of your guide
    element: input
    example: 2016 Chicago Voter Guide
    example_elem: h1
    limit: 22
    name: title_page_header
  -
    label: Title Page - Voter Guide
    placeholder: The phrase that appears below your title
    element: input
    example_elem: h1
    limit: 12
    name: title_page_voter_guide
    default: Voter Guide
  -
    label: Title Page - Be Sure To Vote By
    placeholder: Text that appears before the election date
    example: Be sure to vote by
    element: input
    limit: 20
    name: title_be_sure_to_vote_by
    default: Be sure to vote by
  -
    label: Title Page - Blurb
    placeholder: A little bit about voting and the guide
    example: Your secret ballot means it’s all yours to decide. But hopefully this independent local nonprofit-prepared info helps.
    element: textarea
    limit: 120
    name: title_page_blurb
    default: Your secret ballot means it’s all yours to decide. But hopefully this independent local nonprofit-prepared info helps.
  -
    label: About Us - Title
    placeholder: The title of the About Us Page
    element: input
    limit: 40
    name: about_us_title
    default: About This Guide
  -
    label: About Us - Subtitle
    placeholder: The subtitle of the About Us Page
    element: input
    limit: 60
    name: about_us_subtitle
    default: About Us
  -
    label: About Us - Blurb
    placeholder: A note about your organization and what you do
    example: New Era Colorado Action Fund is a local non-partisan, non-profit organization reinventing politics for our generation through innovative social and political action. We inspire young Coloradans to move our state forward, engaging our generation in our city- and state-level democracy. New Era Colorado Action Fund is a 501(c)4 non-profit organization. You can learn more or sign up to volunteer at NewEraColoradoAction.org.
    element: textarea
    limit: 302
    name: about_us_blurb
  -
    label: About Us - Logo
    placeholder: Your logo - will need to work up to 200px
    example: /example_logo.png
    example_elem: img
    example_attr: src
    example_props:
        width: 120px
    element: ImageComponent
    name: about_us_logo
  -
    label: About Us - Footer
    placeholder: About Us Footer - will need to work up to 500px
    default: https://s3-us-west-2.amazonaws.com/voterguides/hands.jpg
    example_elem: FooterImage
    element: ImageComponent
    example_attr: img
    name: about_us_page_footer_img
  -
    label: How To Vote - Title
    placeholder: The title of the How to Vote page
    element: input
    example_elem: h2
    limit: 20
    name: how_to_vote_title
    default: How To Vote
  -
    label: How To Vote - Subtitle
    placeholder: The subtitle of the How to Vote page
    element: input
    example_elem: h4
    limit: 24
    name: how_to_vote_subtitle
    default: all the info you need
  -
    label: How To Vote - What You Gotta Bring Title
    placeholder: The title of the What You Gotta Bring section
    element: input
    example_elem: h3
    limit: 24
    name: what_you_got_to_bring_title
    default: What you gotta bring
  -
    label: What You've Got to Bring To Vote
    placeholder: A paragraph explaining what you need to bring to vote
    example: To avoid issues on Election Day, or if you are a first time voter, we recommend you bring some form of identification. Options for what you can bring to prove identity and residency.
    element: textarea
    limit: 230
    name: what_you_got_to_bring
  -
    label: How To Vote - Where You've Gotta Go Title
    placeholder: The title of the Where You've Gotta Go section
    element: input
    example_elem: h3
    limit: 24
    name: where_you_got_to_go_title
    default: Where you've gotta go
  -
    label: Where You've Got To Go
    placeholder: A paragraph explaining where you need to go to vote
    example: From February 29 through March 12, all 51 Early Voting sites will be open Monday through Saturday from 9am - 5pm. Go to chicagoelections.com to find a location near you. Please bring a government photo ID during early voting. For both “Grace Period” and “Early Voting” you will register and vote in the same day. To find polling locations for Election Day or early voting go to chicagoelections.com
    element: textarea
    limit: 450
    name: where_you_got_to_go
  -
    label: Find Out More - Title
    placeholder: The title of Find Out More section
    element: input
    example_elem: h2
    limit: 20
    name: find_out_more_title
    default: Find Out More
  -
    label: Find Out More
    placeholder: A paragraph explaining the guide and pointing to more information
    example: This independent voter guide is designed to give you the quickest, most important information on what you’re facing on your ballot and why it’s important to vote. But obviously there’s a lot more  information out there. If you’re looking to read more, we highly encourage checking out our bigger, online guide
    element: textarea
    limit: 350
    name: find_out_more
  -
    label: Our Website
    placeholder: guide
    element: input
    default: americanvoterguide.org
    limit: 100
    name: our_website
  -
    label: Also On Our Website...
    placeholder: The text before the link to your website
    element: input
    limit: 45
    name: also_on_our_website
    default: 'Also a lot more good info at our website:'
  -
    label: Disclaimer
    placeholder: Disclaimer that will go on the back of the voter guide.
    example: Paid for by Forward Montana, Rachel Huff-Doria, Treasurer. 136 E Broadway, Missoula, MT 59802
    element: input
    limit: 150
    name: disclaimer
  -
    label: Contest - Title
    placeholder: Title for the contest page
    element: input
    limit: 20
    name: candidates_title
    default: candidates
  -
    label: Contest - What They Do
    placeholder: The text shown above the contest description
    element: input
    limit: 20
    name: what_they_do
    default: What They Do
  -
    label: Contest - Supported By
    placeholder: The text shown above the supports
    element: input
    limit: 20
    name: supported_by
    default: Supported by...
  -
    label: Contest - Do You Support
    placeholder: The text shown above the questions
    element: input
    limit: 20
    name: you_support
    default: Do you support
  -
    label: Measure - Title
    placeholder: Title for the measure page
    element: input
    limit: 20
    name: measures_title
    default: ballot measures
  -
    label: Measure - What it Does
    placeholder: The text above the measure description
    element: input
    limit: 20
    name: measures_what_it_does
    default: What it Does
  -
    label: Measure - A Yes Vote
    placeholder: What happens if it passes
    element: input
    example_elem: h4
    limit: 20
    name: measures_yes
    default: A Yes Vote Means
  -
    label: Measure - No Vote
    placeholder: What happens if it fails
    element: input
    example_elem: h4
    limit: 20
    name: measures_no
    default: A No Vote Means
  -
    label: Measure - Who Says Yes
    placeholder: Will appear above the supporters of yes
    element: input
    limit: 20
    name: measures_who_says_yes
    default: who says YES...
  -
    label: Measure - Who Says No
    placeholder: Will appear above the supporters of no
    element: input
    limit: 20
    name: measures_who_says_no
    default: who says NO...
  -
    label: Measure - Recommended
    placeholder: Will appear above the recommendation
    element: input
    example_elem: h4
    limit: 20
    name: measure_recommended
    default: 'Recommended:'
  -
    label: Primary Color
    element: input
    type: color
    name: primary_color
    default: "#26aac6"
    example_elem: ColorBlob
    example_attr: color
  -
    label: Secondary Color
    element: input
    type: color
    name: secondary_color
    default: "#d81b59"
    example_elem: ColorText
    example_attr: color
  -
    label: Contest Layout
    element: SelectComponent
    options:
      -
        text: Two Page Contests
        value: contest_large
      -
        text: One Page Contests
        value: contest_small
    name: contest_layout
    default: contest_large
    example_elem: ContestType
    example_attr: partial
