.mui-row
  .mui-col-md-10.mui-col-md-offset-2{ style: 'margin-top: 30px' }
    = react_component :MeasureForm, measure: measure, url: measure.new_record? ? guide_measures_path(guide) : guide_measure_path(guide, measure), languages: guide.languages, expropriatable: { path: expropriate_guide_measures_path(@guide), guides: current_user.guides.uniq - [@guide] }
