- if notice.present?
  :javascript
    swal({ title: #{notice.to_json}, timer: 4000 })
- if alert.present?
  :javascript
    swal({ title: "Uh Oh!", text: #{alert.to_json} })
- if content_for(:errors)
  :javascript
    swal({ title: "Uh Oh!", text:#{(yield :errors).to_json}, html: true })
